
:root {
    --lightest: #f1faee;
    --darkest: #1d3557;
    --tertiary: #457b9d;
  }


.App{
    font-family: Roboto-Mono, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App .header{
    padding: 2.5rem;
    font-weight: bold;
    color: var(--darkest)
}

.head_icon{
    color: #e09f3e;
}

.projects-header{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.footer{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.footer h3{
    font-weight: bold;
    display: inline-block;
    color: var(--darkest);
    padding: 0.5rem;
}

.projects-header h2{
    font-weight: bold;
    display: inline-block;
    color: var(--darkest);
}

.single-project-header{
    font-weight: bold;
    display: inline-block;
    color: var(--darkest);
    margin-left: 2.5rem;
}

.icon{
    padding: 0.5rem;
    color: var(--darkest);
}

.icon-phone{
    background-color: var(--darkest);
    color: var(--lightest);
    border: none;
    vertical-align: 0.5rem;
    margin-left: 1rem;
    font-weight: 400;
}

.about{
    padding: 2rem;
    text-align: center;
}

.cards{
    margin-bottom: 2rem;
}

.card{
    background-color: var(--tertiary);
    color: var(--lightest);
    font-weight: 300;
}
.projects{
    margin-bottom: 2rem;
}
.card Button{
    background-color: var(--lightest);
    color: var(--tertiary);
    border: none
}

.resume{
    background-color: var(--darkest);
    color: var(--lightest);
    border: none;
    vertical-align: 0.5rem;
    margin-left: 0.5rem;
    font-weight: 400;
}

.bio{
    display: block;
    padding: 0.5rem;
    font-weight: 400;
    font-size: 1.25em;
    text-align: left;
}

.bio p{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.bio h3{
    font-weight: bold;
    color: var(--darkest);
}
.profile{
    width: 60%;
    height: auto;
    padding: 0.5rem;
}


.App-link {
  color: #09d3ac;
}

body{
    background-color: var(--lightest);
}

@media screen and (max-width: 600px){
    .bio{
        margin-top: 2rem;
        text-align: center;
    }

    .cards{
        margin-bottom: 0;
    }

    
}